@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";



.font-main{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.font-title{
   font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}




.bg-primary{
    background-color: #F9FAFB;
}


.active {
  
  position: relative;
  font-weight: 600;
  transition: color 0.3s ease;
}

.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: #ffffff;
  
  border-radius: 9999px;
  animation: underlineGrow 0.4s ease forwards;
}

@keyframes underlineGrow {
  to {
    width: 100%;
  }
}